#contener {
	width: 100%;
	padding-top: 20px;
}

.block {
	width: 80%;
	height: 300px;
	background: #888;
	margin: 0 auto;
	margin-bottom: 25px;
}

#plus {
	position: fixed;
	width: 50px;
	height:50px;
	margin-left: 30px;
	border-radius: 100%;
	border: none;
	cursor: pointer;
	outline: none;
}

.minus {
	float: right;
	background: #888;
	border: none;
	outline: none;
	cursor: pointer;

}